table(cellspacing='0' cellpadding='0' style='width: 100%; border-collapse: collapse;')
  tr
    td(style='width: 20%; border-right: 1px solid black; padding: 3px;')
      div(style='display: flex; flex-direction:column;')
        label(style='text-align: center; display: block;') PIS (0,0000%)
        span(style='text-align: center; display: block; font-weight: bold;') R$ 0,00
    td(style='width: 20%; border-right: 1px solid black; padding: 3px;')
      div(style='display: flex; flex-direction:column;')
        label(style='text-align: center; display: block;') COFINS (0,0000%)
        span(style='text-align: center; display: block; font-weight: bold;') R$ 0,00
    td(style='width: 20%; border-right: 1px solid black; padding: 3px;')
      div(style='display: flex; flex-direction:column;')
        label(style='text-align: center; display: block;') INSS (0,0000%)
        span(style='text-align: center; display: block; font-weight: bold;') R$ 0,00
    td(style='width: 20%; border-right: 1px solid black; padding: 3px;')
      div(style='display: flex; flex-direction:column;')
        label(style='text-align: center; display: block;') IR (0,0000%)
        span(style='text-align: center; display: block; font-weight: bold;') R$ 0,00
    td(style='width: 20%; border-right: none; padding: 3px;')
      div(style='display: flex; flex-direction:column;')
        label(style='text-align: center; display: block;') CSLL (0,0000%)
        span(style='text-align: center; display: block; font-weight: bold;') R$ 0,00
