table(cellspacing='0' cellpadding='0' style='width: 100%; border-collapse: collapse;')
  tr
    td(style='text-align: center; padding: 3px;')
      b DISCRIMINAÇÃO DOS SERVIÇOS
  tr
    td(style='padding: 3px; height: 70px; vertical-align: top;')
      label(style='padding-right: 3px;')
        b Descriçao:
      span(style='') #{description}
