table(cellspacing='0' cellpadding='0' style='width: 100%; border-collapse: collapse;')
  tr
    td(style='text-align: center; padding: 3px;' colspan='4')
      b PRESTADOR DE SERVIÇOS
  tr
    td(style='width: 10%; padding: 3px;' rowspan='5')
      div(style='display: flex; justify-content: center; align-items: center;')
        include promedicin.pug
    td(style='padding: 3px;' colspan='3')
      label(style='padding-right: 3px;') Nome/Razão Social:
      span
        b PROMEDICIN SERVICOS MEDICOS EIRELI
  tr
    td(style='padding: 3px;')
      label(style='padding-right: 3px;') CPF/CNPJ:
      span
        b 27.480.074/0001-29
    td(style='padding: 3px;' colspan='2')
      label(style='padding-right: 3px;') Inscrição Municipal:
      span
        b 00433848-0
  tr
    td(style='padding: 3px;' colspan='3')
      label(style='padding-right: 3px;') Endereço:
      span
        b RUA MONTEVIDEU, N° 600 - BAIRRO PARQUE SAO QUIRINO - CEP: 13088-160
  tr
    td(style='width: 40%;padding: 3px;')
      label(style='padding-right: 3px;') Município:
      span
        b CAMPINAS
    td(style='width: 30%;padding: 3px;')
      label(style='normal; padding-right: 3px;') UF:
      span
        b SP
    td(style='width: 20%;padding: 3px;')
      label(style='padding-right: 3px;') Telefone:
      span
        b (19) 97169-1939
