body(leftmargin='0' marginwidth='0' topmargin='0' marginheight='0' offset='0')
  div(style='background-color: #ffffff; margin: 0; padding: 70px 0 70px 0; width: 100%; -webkit-text-size-adjust: none;')
    // Header
    table(border='0' cellpadding='0' cellspacing='0' width='100%')
      tr
        td(align='center' valign='top' style='max-width: 300px;')
          p(style='margin-top: 0;')
            img(src='https://nucleale.com/nucleale.png' alt='Nucleale App' style='border: none; font-size: 14px; font-weight: bold; height: 40px; line-height: 100%; outline: none; text-decoration: none; text-transform: capitalize; display: block; max-width: 100%;margin-bottom: 15px;')
    // End Header
    // Content
    table(border='0' cellpadding='0' cellspacing='0' width='100%')
      tr
        td(align='center' valign='top')
          // Box
          table(border='0' cellpadding='0' cellspacing='0' width='600' style='background-color: #fdfdfd; border: 1px solid #e5e5e5; box-shadow: 0 1px 4px rgba(0,0,0,0.1); border-radius: 3px')
            tr
              td(align='center' valign='top')
                // Title
                table(border='0' cellpadding='0' cellspacing='0' width='600' style='background-color: #f48fb1; border-bottom: 0; font-weight: bold; line-height: 100%; vertical-align: middle; font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; border-radius: 3px 3px 0 0;')
                  tr
                    td(style='padding: 36px 48px; display: block;')
                      h1(style='font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; font-size: 30px; font-weight: 300; line-height: 150%; margin: 0; text-align: left; color: #ffffff;')
                        span #{title}
                // End Title
            tr
              td(align='center' valign='top')
                // Body
                table(border='0' cellpadding='0' cellspacing='0' width='600')
                  tr
                    td(valign='top' style='background-color: #fdfdfd;')
                      // Content
                      table(border='0' cellpadding='20' cellspacing='0' width='100%')
                        tr
                          td(valign='top' style='padding: 48px 48px 0;')
                            div(style='color: #474845; font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; font-size: 14px; line-height: 150%; text-align: left;')
                              block content
                              p(style='margin: 0 0 16px;') Abraços!
                              p(style='margin: 0 0 16px;') Equipe Nucleale
                      // End Content
                // End Body
            tr
              td(align='center' valign='top')
                // Footer
                table(border='0' cellpadding='0' cellspacing='0' width='600')
                  tr
                    td(valign='top' style='padding: 0; -webkit-border-radius: 6px;')
                      table(border='0' cellpadding='10' cellspacing='0' width='100%')
                        tr
                          td(colspan='2' valign='middle' style='-webkit-border-radius: 6px; border: 0; color: #f48fb1; font-family: Arial; font-size: 12px; line-height: 125%; text-align: center; padding: 0 48px 48px 48px;')
                            p Nucleale - contato@nucleale.com
                // End Footer
          // End Box
    // End Content